#--------------------------
# Files to ignore
#--------------------------
.DS_Store
package-lock.json
*~
#
#--------------------------
# Directories to ignore
#--------------------------
node_modules/
logs/
