.CasePreview {
  margin: 1em;
  border: 1px solid #ccc; }
  .CasePreview .category-name {
    border-bottom: 1px solid #ccc;
    padding: 0.25em 0.5em;
    font-weight: bold;
    background-color: #eee; }
  .CasePreview .contest-name {
    padding: 0.5em; }
